.App-task {
  border: 2px solid rgb(19, 202, 34);
  display: flex;
  align-items: center;
}

.App-task-edit {
  flex: 1;
}

.App-task-edit input {
  width: 80%;
  padding: .5rem;
}

.icon-favorite, .icon-delete {
  border: 2px solid red;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  
}