.App-task {
  /* border: 2px solid rgb(11, 109, 148); */
  border-bottom: 1px solid var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  /* margin-bottom: 2rem; */
  padding: .5rem 1rem;
  position: relative;
}

.App-task.selected-favorite,
.App-task.selected-completed,
.App-task.selected-not-completed {
  border: 2px solid red;
}

.App-check-completed {
  margin-right: 1.5vw;
  width: 25px;
  height: 25px;
}

.App-check-completed form {
  width: 100%;
  height: 100%;
}

.App-check-completed form input {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.App-task-edit {
  flex: 1;
}

.App-task-edit input {
  color: var(--light-grayish-blue);
  width: 90%;
  padding: 1rem;
  font-size: calc(1vw + 0.3em);
}

.check-style {
  border: 1px solid var(--very-dark-grayish-blue);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
}

.icon-checkmark {
  width: 12px;
  height: 12px;
  fill: white;
  opacity: 0;
}

.check-style.completed {
  background: var(--check-background);  
}

.check-style.completed .icon-checkmark {
  opacity: 1;
}


.icon-favorite {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-grayish-blue);
  width: 20px;
  height: 20px;
}

.icon-delete-letter {
  color: var(--dark-grayish-blue);
  font-size: 2.1rem;
  font-weight: 100;
}

.action-task {
  /* border: 1px solid blue; */
  margin-right: 0.7vw;
  cursor: pointer;
}

.icon-bin,
.icon-star-empty {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-star-empty.selected {
  fill: orange;
}

.style-completed {
  border: 1px solid var(--very-dark-grayish-blue);
  position: absolute;
  left: 40px;
  width: 60%;
  margin-left: 1rem;
  opacity: 0;
}

.style-completed.line-completed {
  opacity: 1;
}

#input-check {
  opacity: 0;
}

.date-task {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 0.8rem;
}
