.App-content-filter-date {
  margin-top: 2rem;
}

.App-content-filter-date form {
  display: flex;
  flex-direction: column;
}

.App-content-filter-date input {
  padding: .5rem;
  margin-top: .5rem;
}
.span-date {
  margin-top: .3rem;
}

.span-date-range-desde, .span-date-range-hasta {
  margin: .3rem 0;
}