.App-content-actions {
  background-color: var(--very-dark-desaturated-blue);
  box-shadow: 0px 10px 15px rgb(12 14 19 / 60%);
  border-radius: 0 0 5px 5px;
  display: flex;
  color: var(--dark-grayish-blue);
  justify-content: space-between;
  padding: 1rem;
  transition: all .2s linear;
}

.App-content-actions.light {
  background-color: var(--very-light-gray);
  box-shadow: 0px 8px 15px rgb(69 69 69 / 60%);
}

.App-content-actions span:hover:not(.App-content-actions > span:first-child) {
  color: #FFF;
}

.App-content-actions.light span:hover:not(.App-content-actions > span:first-child) {
  color: var(--very-dark-desaturated-blue)
}

.icon-mode {
  cursor: pointer;
}
