.App-content-actions {
  background-color: var(--very-dark-desaturated-blue);
  box-shadow: 0px 10px 15px rgb(12 14 19 / 60%);
  border-radius: 0 0 5px 5px;
  color: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  transition: all .2s linear;
}

.App-content-actions.light {
  background-color: var(--very-light-gray);
  box-shadow: 0px 8px 15px rgb(69 69 69 / 60%);
}

.App-handle-select {
  cursor: pointer;
  padding-bottom: .5vh;
}

.select-all:hover {
  color: rgba(255, 0, 0, 0.65);
}

.App-select-state-task span:hover {
  color: #FFF;

}

.icon-mode {
  cursor: pointer;
}
